* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  width: 1440px;
  height: 900px;
  background-color: #ffffff;
  padding: 0px 165px;
  /* overflow-y: hidden; */
}

.header {
  margin-top: 45px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(220, 14%, 95%);
}

nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0px 400px 9px 55px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400px;
  color: hsl(219, 9%, 45%);
}

#avatar {
  width: 50px;
  height: auto;
}

#cart {
  margin: 0px 45px 14px 0px;
}
.mainContent {
  display: flex;
  flex-direction: row;
  gap: 125px;
}

#mainImg {
  width: 444px;
  height: 440px;
  border-radius: 10px;
  margin: 90px 0px 0px 30px;
}

#thumbnails {
  width: 89px;
  height: 89px;
  border-radius: 10px;
}

/* #thumbnails:hover {
} */

.imageDsiplay {
  margin: 30px 0px 125px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rightSide {
  margin: 153px 0px 0px 0px;
}

.rightSide small {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  letter-spacing: 1.5px;
}
.rightSide h1 {
  margin-top: 10px;
  width: 390px;
  color: #000;
  font-weight: 700;
}

.rightSide p {
  margin-top: 24px;
  width: 415px;
  font-weight: 400;
  font-size: 16px;
  color: hsl(219, 9%, 45%);
}

.rightSide h3 {
  font-family: "Kumbh Sans", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

#promo {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#promo h4 {
  text-align: center;
  margin: 5px 0px 0px 0px;
  padding: 2px 7px 10px 7px;
  /* align-self: center; */
  width: 40px;
  height: 21px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
}

.quantity {
  /* margin-top: 35px; */
  width: 150px;
  border-radius: 6px;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-self: center;
  background: hsl(223, 64%, 98%);
}

#minus {
  cursor: pointer;
  position: relative;
  bottom: 60;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: hsl(26, 100%, 55%);
  padding-bottom: 1px;
}
#plus {
  cursor: pointer;
  position: relative;
  bottom: 60;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: hsl(26, 100%, 55%);
  padding-bottom: 1px;
}
#zero {
  /* position: relative;
  bottom: 30; */
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #000;
  padding-bottom: 1px;
}

#cartbtn {
  cursor: pointer;
  text-align: center;
  width: 250px;
  height: auto;
  padding: 10px 0px 10px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: hsl(26, 100%, 55%);
  background-image: url("./images/cartWhite.svg");
  background-repeat: no-repeat;
  background-position-x: 65px;
  background-position-y: 8px;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  box-shadow: -1px 0px 13px 0px rgba(255,125,26,0.32), -2px 5px 13px 10px rgba(255,125,26,0.12);
}

.bracket {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 20px;
}
